#######################################################
# AnCH Framework ignores files/directories in project #
#######################################################

# Build directories
**/build/

# Editors backup files
**/*~

# Documentation directory
documentation/
